@import url(https://fonts.googleapis.com/css2?family=Averia+Libre:wght@100;200;300;400;500;600;700&display=swap);
.subscribe_box-signup {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background: white;
}
.subscribe_box-signup img {
  width: 130px;
}
.signup-box {
  min-width: 300px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.signup-registr-box {
  width: 350px;
  padding: 0 20px;
}
.introduction-signup {
  font-weight: 300;
  line-height: 60px;
  font-family: 'Averia Libre', display;
}
.form-signup input {
  width: 100%;
  height: 30px;
  padding: 7px;
  border-radius: 2px;
  border: 1px solid gray;
  outline: none;
  font-size: 12px;
  margin-bottom: 10px;
  transition: 0.2s;
}
.form-signup label {
  font-weight: 600;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}
.form-signup input:focus {
  box-shadow: 0px 0px 6px #ff6200;
  border: 1px solid #ffa200;
}
.warning-box-signup {
  font-size: 13px;
  display: flex;
  margin-bottom: 5px;
}
.warning-box-signup svg {
  margin-right: 10px;
}
.password-input-repeat-box label {
  line-height: 30px;
}
.btn-create-account-signup {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  background: linear-gradient(0, rgb(240, 186, 85), rgb(255, 216, 143));
}
.btn-create-account-signup:hover {
  background-color: rgb(255, 189, 67);
}
.btn-create-account-signup:active {
  box-shadow: 0px 0px 8px rgb(255, 202, 102);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.signup-conditions-text {
  font-size: 12px;
  margin: 30px 0;
}
.condition-text-signup-link {
  color: dodgerblue;
}
.condition-box-signup-link:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}
.moreinfo-box-signup {
  display: flex;
  align-items: center;
}
.moreinfo-box-signup * {
  font-size: 12px;
  line-height: 20px;
  word-spacing: 3px;
}
.margin {
  margin-top: 25px;
}
.signin-link-account {
  color: dodgerblue;
  display: flex;
  align-items: center;
}
.signin-link-account:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}
.linear {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.3),
    transparent
  );
}
@media (max-width: 1200px) {
  .form-signup {
    display: block;
  }
}
