header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #000;
  padding: 0 10px;
  position: relative;
}

.img {
  width: 120px;
  height: 80%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
}

/* loaction  */

.location {
  width: 100px;
  height: 80%;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid transparent;
  margin-right: 15px;
}

.location__icon {
  color: var(--white);
}

.location__title {
  font-size: 12px;
  color: #aaa;
  line-height: 10px;
}

.location__text {
  font-weight: 700;
  font-size: 14px;
}

/* form  */

form {
  flex: 1;
}

.form {
  width: 100%;
  display: flex;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.border {
  width: 100%;
  height: 40px;
  position: absolute;
  border: 3px solid #ffb536;
  border-radius: 5px;
  display: none;
}

.filter {
  height: 40px;
  font-size: 12px;
  background: #eee;
  border: none;
  border-right: 1px solid #00000027;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.filter option {
  font-size: 14px;
}

.form .form__input {
  width: 100%;
  outline: 2px #ffb536;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.view {
  width: 100%;
  height: 100vw;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.form__input:focus~.border,
.filter:focus~.border {
  display: block;
}

.form__btn {
  width: 50px;
  border: none;
  background: #ffb536;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* language */

.language {
  width: 70px;
  height: 80%;
  border: 1px solid transparent;
  margin-left: 20px;
  position: relative;
  padding: 6px 6px 0;
  z-index: 9;
}

.language:hover .language-modal {
  display: block;
}

.language__link {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}

.language-modal {
  width: 250px;
  height: auto;
  background-color: white;
  position: absolute;
  left: -50px;
  top: 50px;
  z-index: 3;
  border-radius: 5px;
  padding: 14px;
  display: none;
}

.language-modal p {
  font-size: 13px;
  display: inline;
  font-family: sans-serif;
  margin-right: 10px;
}

.changeLanguage p:hover {
  text-decoration: underline;
  color: #ff7424;
}

.languageLink {
  color: #007185;
  font-size: 11px;
  font-weight: 500;
}

.radioinput {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioinput .activelng {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff7424;
}

.nothing {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.changeLanguage:hover .nothing {
  background: #ff7424;
}

.changeLanguage {
  width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.changeLanguage p {
  font-size: 13px;
}

/* login */

.login {
  width: 140px;
  height: 80%;
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
}

.login a {
  line-height: 13px;
  display: block;
  line-height: 17px;
}

.login__sign {
  font-size: 12px;
}

.accaunt {
  align-items: center;
  display: flex;
}

.accound__sign {
  font-size: 13px;
  font-weight: 600;
}

.login:hover .sign-modal {
  display: block;
}

.login:hover~.loginview,
.language:hover~.languageView {
  display: block;
}

.loginview,
.languageView {
  position: fixed;
  width: 100%;
  height: 88vh;
  bottom: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  transition: 0.3s;
}

/* sign in modal */

.sign-modal {
  width: 500px;
  height: auto;
  position: absolute;
  top: 50px;
  right: -100px;
  z-index: 10;
  border-radius: 8px;
  padding: 15px 20px;
  background: white;
  display: none;
  z-index: 99;
}

.sign-modal-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-modal-login-text {
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-modal-login__phograph {
  font-size: 11px;
}

.sign-modal-login__link {
  font-size: 11px;
  color: #007185;
}

.sign-modal-login-btn button {
  width: 200px;
  height: 35px;
  background: linear-gradient(0deg, #ffae23, #ffe5b7);
  border: 1px solid #ff7d32;
  border-radius: 3px;
}

.sign-modal-login-btn button:active {
  background: linear-gradient(0deg, #ff8400, #f8c672);
}

.hr {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.sign-hero {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.line {
  width: 1px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
}

.sign-login {
  width: 200px;
}

.sign-login h4 {
  line-height: 30px;
}

.sign-login a {
  font-size: 13px;
  line-height: 23px;
  color: black;
}

.sign-login a:hover {
  color: #ffaf24;
  text-decoration: underline;
}

/* order */

.order {
  padding: 5px;
  width: 82px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
}

.order__return {
  color: var(--white);
  font-size: 12px;
  line-height: 10px;
}

.order__orders {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

/* card */
.card {
  height: 80%;
  border: 1px solid transparent;
  position: relative;
}

.card-link {
  display: flex;
  align-items: flex-end;
}

.card-link__img {
  width: 38px;
  height: 40px;
}

.card-link__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.order:hover,
.login:hover,
.language:hover,
.card:hover,
.navbar-nav-list:hover,
.navbar-nav-link:hover,
.img:hover,
.location:hover {
  border: 1px solid white;
  cursor: pointer;
}

.cardCount {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff5e00;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  right: 8%;
}

/* navbar */
.navbar {
  width: 100%;
  background: #222;
}

.navbar-nav {
  max-width: 800px;
  height: 40px;
  padding: 0 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-nav-list {
  width: 60px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.navbar-nav__button {
  width: 30px;
  border: 1px solid transparent;
  background: transparent;
  color: whitesmoke;
  font-weight: 700;
}

.navbar-nav-link {
  width: max-content;
  border: 1px solid transparent;
  padding: 4px 6px;
}

.navbar-nav-link a {
  letter-spacing: -0.5px;
  font-weight: 300;
}

.viewe {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.mobileinput {
  width: 100%;
  padding: 10px;
  display: none;
  justify-content: center;
  background: #222;
}

.mobileinput input {
  width: 99%;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  color: #eee;
  padding: 10px;
  outline: none;
  border: none;
  position: relative;
}

.mobileBtn {
  position: absolute;
  right: 11px;
  width: 50px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: #ffb536;
}

.navbar-nav-mobile {
  display: none;
}

@media (max-width: 1200px) {

  .location,
  .login,
  .language,
  .order,
  .navbar,
  form {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
  }

  .card {
    margin-left: auto;
  }

  .navbar-nav-mobile,
  .mobileinput {
    display: flex;
  }
}