.subscribe_box-signin {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background: white;
}
.login-box {
  width: 350px;
}
.email_label {
  font-size: 13px;
  line-height: 30px;
  font-weight: 600;
}

.login-box-registr {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #00000023;
  padding: 25px;
}
.introduction-signin {
  font-weight: 400;
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.signin-form input {
  width: 100%;
  height: 30px;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 6px;
  transition: 0.2s;
}
.signin-form input:focus {
  box-shadow: 0px 0px 8px -1px #ea7a0a;
}
.password-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.password-box label {
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
}

.password-box > span {
  color: #1e90ff;
  cursor: pointer;
  font-size: 13px;
}
.password-box > span:hover {
  color: #ff4500;
  cursor: pointer;
  text-decoration: underline;
}
.btn-signin {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.237);
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(255, 200, 97);
  margin-top: 20px;
  transition: 0.2s;
}
.btn-signin:hover {
  background-color: rgb(255, 177, 33);
}
.btn-signin:focus {
  box-shadow: 0px 0px 10px rgb(252, 159, 19);
}
.signin-conditions-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
}
.check-box-signin {
  width: 200px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more-info-signin {
  color: dodgerblue;
}
.icon-down-signin {
  color: gray;
}
.check-box-signin span {
  font-size: 14px;
}
.icon-down-signin:hover {
  color: black;
}
.condition-text-signin-link {
  color: dodgerblue;
  transition: 0.2s;
}
.condition-text-signin-link:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}
.explaining-box-signin {
  height: 200px;
  width: 130%;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 32%;
  left: -15%;
  box-shadow: 0px 0px 7px gray;
}
.main-text-box-signin {
  width: 100%;
  padding: 0 10px;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(212, 212, 212);
  border-radius: 5px 5px 0px 0px;
}
.close-btn-signin {
  cursor: pointer;
}
.close-btn-signin:hover {
  color: black;
  transform: scale(1.1);
}
.explaining-box-signin > p {
  margin-top: 20px;
}
.traingular-box-signin {
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 14px solid rgb(211, 211, 211);
  position: absolute;
  bottom: -8%;
  left: 50%;
  right: 50%;
}
.more-info-signin:hover ~ .explaining-box-signin {
  display: block;
}
.more-info-signin:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}
.box-preference-signin {
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(119, 119, 119);
  margin-top: 20px;
}
.box-preference-signin span {
  font-size: 11px;
  margin: 0 6px;
}
.create-account-signin {
  width: 350px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.237);
  border-radius: 4px;
  transition: 0.2s;
  background: #eee;
  text-align: center;
  font-size: 13px;
  padding: 6px;
  color: black;
}
.create-account-signin:focus {
  box-shadow: 0px 0px 6px -1px #ff4500;
}
@media (max-width: 1200px) {
  .signin-form {
    display: block;
  }
  .login-box,
  .create-account-signin,
  .box-preference-signin {
    width: 300px;
  }
}
